
#perico {
    animation: left-fill 1s;
    animation-timeline: 2s;

}

@keyframes left-fill {
    from{
        opacity: 0;
       transform: translateX(-10vw);
    }
    to{
        opacity: 1;
        transform: translateX(0vw);
    }
}



#tecnologias{
    view-timeline: --tecno;
    view-timeline-axis: block;

    animation-timeline: --tecno;
    animation-name: Scale-scroll;
    animation-range: entry 25% cover 37%;
    animation-fill-mode:both;

}

@keyframes Scale-scroll {
    from{
        opacity: .45;
        scale: 80%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
    
}
#detail{
    animation: rigth-fill 1s;
    animation-timeline: 2s;

}

@keyframes rigth-fill {
    from{
        opacity: 0;
       transform: translateX(10vw);
    }
    to{
        opacity: 1;
        transform: translateX(0vw);
    }
}
#pros{
    animation: presentacion 1s ;
}
@keyframes presentacion{
    0%{
        scale: 75%;
    }
    80%{
        scale:102%
    }
    100%{
        scale: 100%;
    }

}
